:global(#contact) {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  max-width: 780px;
  margin: 50px auto;
  border-top: 2px solid #f3d88e !important;
  margin-top: 80px;
  position: relative;
}

.h2 {
  font-family: "Source Serif 4";
  font-size: 3rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.9);
  margin-bottom: 20px;
  display: inline-block;
  position: absolute;
  background-color: #0a1128;
  top: -40px;
  padding: 0 20px 0 0;
}

.contactBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;

  .infoBox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #f3d88e;
    border-radius: 10px;
    background-color: #1d2a44;
    padding: 6px;

    a {
      margin-left: 10px;
    }
  }
  .infoBox1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #f3d88e;
    border-radius: 10px;
    background-color: #1d2a44;
    padding: 6px;
    margin-left: 30px;

    a {
      margin-left: 10px;
    }
  }
  .infoBox:hover,
  .infoBox1:hover {
    color: #2fc5f9;
  }
  .infoBox:hover svg,
.infoBox1:hover svg {
  stroke: #f3d88e;
}
}
