.footer {
  background-color: #1d2a44;

  h2 {
    margin: 0;
    text-align: center;
    padding: 20px 0 50px 0;
    color: #f3d88e;
  }

  .social {
    display: flex;
  }
  .line {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    position: relative; 
    border-top: 2px solid #f3d88e; 
  
    .links {
      display: flex;
      padding: 0 30px;
      background-color: #1d2a44; 
      position: relative;
      z-index: 1;
  
      a {
        position: relative;
        top: -16px;
        padding: 0 6px;
      }
  

      &::before {
        content: '';
        position: absolute;
        top: -2px;
        left: 0;
        right: 0;
        height: 2px; 
        background-color: #1d2a44; 
      }
    }
  }
  
}
