:global(#portfolio) {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    max-width: 780px;
    margin: 50px auto;
    box-shadow: inset 0 10px 5px rgba(0, 0, 0, 0.1);
    padding-top: 100px;
    
    .portfolioBox{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    }
}
